<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheUUID</key>
	<string>9439C3A9-549B-4D57-83B0-A5C38195D345</string>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAMAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAwAAAEAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAgAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAADb3NoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAOjn
	5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAKAAAAAAAAAGQAAAAAAAAA5AAAAAAAAADkAAAAAAAAANAHAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA+gAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAHgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAACamZk+AAAAAAAAAAAA
	AAAAAgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAABG
	AQAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAABAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAADAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAUAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAB4AAAAAAAAAPAAAAAAAAAAAwAAAAAAAABkAAAAAAAA
	ADwAAAAAAAAAHgAAAAAAAAA8AAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAAAYEAAAAAAAAAAAAAAAABkAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAABkAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAP////8AAAAAAQEBAQEAAQEBAQEAAAEBAQEBAQEBAQEAAQEBAQAA
	AAEAAQAAAQAAAQEBAAAAAAEAAAEBAQEBAQEBAQEBAAEBAQABAQEBAQABAAEBAQEAAQEB
	AQAAAQEBAQEBAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAAEAAQEBAAEB
	AQEBAQEBAAABAQEBAQEBAQEBAAABAQEBAQEBAQAAAQEBAAEBAQEBAQEAAQEBAAEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQABAQEAAQEBAQEBAQEBAQABAQEBAQEBAAAAAAEBAQEB
	AQABAQABAQEBAQEBAQEBAQEBAQEBAAEAAQEBAQEBAQAAAQEBAAAAAAEBAQEBAQEBAQEB
	AQEBAQEBAQAAAAAAAAEBAQABAQEAAAAAAAABAAEBAQEBAQABAQEAAQEBAQEBAQEBAAAB
	AQEBAQEBAQEBAAABAQEBAQEBAQEBAAAAAAABAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>a6vjPkzcRjrsXmniFsm0dg</key>
            	<true/>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		7gIAADYFAABGAQAAAAAAQAAAAAAIAAAA
		</data>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>12.5.0</string>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		WNnI8V/pgV31fh4D7mwcVCFLy+I=
		</data>
		<key>1Rm/mWYEI5ttaC0dJ3sHBQ</key>
		<data>
		m0WVqWy5rBg=
		</data>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4350</string>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1</real>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPhone</string>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>mav13</string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>LL/A</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-3406.60.10</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha1</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>#dadcdb</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPhone 6s</string>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPhone</string>
		<key>D0cJ8r7U5zve6uA6QbOiLA</key>
		<string>MKR42</string>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>B</string>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>LL</string>
		<key>qNNddlUK+B/YlooNoymwgA</key>
		<string>10.3.3</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>14G60</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>51</integer>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1</real>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1</real>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A1688</string>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceSubType</key>
			<integer>569</integer>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>MTL3,1:MTL2,2:MTL1,2:GLES2,0</string>
			<key>CompatibleDeviceFallback</key>
			<string>0</string>
			<key>ArtworkDisplayGamut</key>
			<string>sRGB</string>
			<key>ArtworkDeviceProductDescription</key>
			<string>iPhone 6s</string>
			<key>GraphicsFeatureSetClass</key>
			<string>MTL3,2</string>
			<key>ArtworkDeviceScaleFactor</key>
			<real>2</real>
			<key>DevicePerformanceMemoryClass</key>
			<integer>2</integer>
		</dict>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPhone</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>HXTqT3UXOKuTEklxz+wMAA</key>
		<data>
		AAAAGE9JUEd3AAAAAAEAAA==
		</data>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>s8000</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPhone8,1</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>#e4e7e8</string>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>N71AP</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>USI</string>
	</dict>
	<key>CacheVersion</key>
	<string>14G60</string>
</dict>
</plist>
